.DS_Store
*.log
node_modules
!test/fixtures/errors/bad-gulp-version/node_modules/
build
*.node
components
coverage
.coveralls.yml
.nyc_output
*.orig
.idea
sandbox
test/out-fixtures/*
test/output/
test/watch-*.txt
gulp.1
