sudo: false
language: node_js
node_js:
  - "14"
  - "12"
  - "10"
  - "8"
  - "6"
  - "4"
  - "0.12"
  - "0.10"
after_script:
  - if [ $(echo "${TRAVIS_NODE_VERSION}" | cut -d'.' -f1) -ge 6 ]; then
      npm run coveralls;
    fi

git:
  depth: 10
os:
  - linux
  - osx
